body {
    background-color:antiquewhite
    
}


h1 {
    text-align: center; color:black;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bolder;

}


h2 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

#one{
    text-align: left;
    text-indent: 2%;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    line-height: 200%;
    float: left;
    
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 80px;
    margin-left: 80px;
}

#two{

    text-align: left;
    text-indent: 4%;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    line-height: 200%;
    
    margin-top: 80px;
    margin-bottom: 50px;
    margin-right: 80px;
    margin-left: 80px;
}
img {
    width:  20%; 
    height: 300px; 
    object-fit: cover; 
    vertical-align: text-top;
    float: left;
    /*padding-right: 30px;*/
    border: 10px solid hsl(63, 92%, 47%);
    
    
}
img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
   
  }

ul{

    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 300px;
  }

  .button:hover {
    background-color: #94ea97;
    color: black;
  }

  .button {
    /*position: absolute;*/
    position: fixed;
    bottom: -4px;
    left: 10px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #21ca65;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }


 /*.button {
    border: none;
    color: rgb(33, 29, 36);
    padding: 15px 32px;
    text-align: bottom;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }/*
