body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: -webkit-image-set("/image/background.jpg");
    background-image: url("/image/background.jpg");

  }


.slide {
    width: 100vw;
    height: 40vh;
    position: center;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1em;
    margin-bottom: 5px;
    color: rgb(36, 36, 94);
    font-size: 5em;
  }

#myHead {
    background-color: lightblue;
    color: rgb(36, 36, 94);
    padding: 30px;
    text-align: top center;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
h2{
    background-color: rgb(140, 206, 228);

}

h4{
    background-color: bisque;
    text-align: center;
    font-style: oblique;
    color: rgb(36, 36, 94);
}

#sub-head{
    padding:3px;
    font-size: 1em;
    background-position: flex;
    text-align: left;
    width: 50vw;
    height: 10vh;
    font-style: normal;
    color: rgb(36, 36, 94);
    display: flex;
    Width: 100%;
    font-size: 100%;
}


@media (min-width: 1200px) {
    .responsive-font-example {
      font-size: 80px;
    }
  }

  @media (max-width: 1199.98px) {
    .responsive-font-example {
      font-size: 30px;
    }
  }